body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
select {
    width: 15%;
    padding: 10px 10px;
    font-family: verdana;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
