number of entries in date range= 24
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Temp (F)</th>
      <th>Dew Point</th>
      <th>Wind Speed</th>
      <th>RH</th>
      <th>Heat Index</th>
      <th>Wind Chill</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>201811040100</th>
      <td>39.0</td>
      <td>37.0</td>
      <td>11</td>
      <td>92.6</td>
      <td>37.0</td>
      <td>26.4</td>
    </tr>
    <tr>
      <th>201811040100</th>
      <td>39.0</td>
      <td>37.0</td>
      <td>13</td>
      <td>92.6</td>
      <td>37.0</td>
      <td>20.3</td>
    </tr>
    <tr>
      <th>201811040200</th>
      <td>38.0</td>
      <td>37.0</td>
      <td>11</td>
      <td>96.2</td>
      <td>36.0</td>
      <td>25.0</td>
    </tr>
    <tr>
      <th>201811040300</th>
      <td>38.0</td>
      <td>36.0</td>
      <td>13</td>
      <td>92.3</td>
      <td>35.8</td>
      <td>18.8</td>
    </tr>
    <tr>
      <th>201811040400</th>
      <td>38.0</td>
      <td>36.0</td>
      <td>14</td>
      <td>92.3</td>
      <td>35.8</td>
      <td>15.7</td>
    </tr>
    <tr>
      <th>201811040500</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>11</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>23.7</td>
    </tr>
    <tr>
      <th>201811040600</th>
      <td>37.0</td>
      <td>35.0</td>
      <td>11</td>
      <td>92.0</td>
      <td>34.7</td>
      <td>23.7</td>
    </tr>
    <tr>
      <th>201811040700</th>
      <td>37.0</td>
      <td>35.0</td>
      <td>11</td>
      <td>92.0</td>
      <td>34.7</td>
      <td>23.7</td>
    </tr>
    <tr>
      <th>201811040800</th>
      <td>36.0</td>
      <td>35.0</td>
      <td>9</td>
      <td>95.8</td>
      <td>33.8</td>
      <td>28.8</td>
    </tr>
    <tr>
      <th>201811040900</th>
      <td>37.0</td>
      <td>35.0</td>
      <td>10</td>
      <td>92.0</td>
      <td>34.7</td>
      <td>26.8</td>
    </tr>
    <tr>
      <th>201811041000</th>
      <td>37.0</td>
      <td>35.0</td>
      <td>9</td>
      <td>92.0</td>
      <td>34.7</td>
      <td>30.0</td>
    </tr>
    <tr>
      <th>201811041100</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>9</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>30.0</td>
    </tr>
    <tr>
      <th>201811041200</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>11</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>23.7</td>
    </tr>
    <tr>
      <th>201811041300</th>
      <td>38.0</td>
      <td>37.0</td>
      <td>9</td>
      <td>96.2</td>
      <td>36.0</td>
      <td>31.3</td>
    </tr>
    <tr>
      <th>201811041400</th>
      <td>38.0</td>
      <td>37.0</td>
      <td>10</td>
      <td>96.2</td>
      <td>36.0</td>
      <td>28.1</td>
    </tr>
    <tr>
      <th>201811041500</th>
      <td>38.0</td>
      <td>37.0</td>
      <td>10</td>
      <td>96.2</td>
      <td>36.0</td>
      <td>28.1</td>
    </tr>
    <tr>
      <th>201811041600</th>
      <td>38.0</td>
      <td>37.0</td>
      <td>8</td>
      <td>96.2</td>
      <td>36.0</td>
      <td>34.4</td>
    </tr>
    <tr>
      <th>201811041700</th>
      <td>38.0</td>
      <td>37.0</td>
      <td>8</td>
      <td>96.2</td>
      <td>36.0</td>
      <td>34.4</td>
    </tr>
    <tr>
      <th>201811041800</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>7</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>36.4</td>
    </tr>
    <tr>
      <th>201811041900</th>
      <td>37.0</td>
      <td>37.0</td>
      <td>6</td>
      <td>100.0</td>
      <td>35.1</td>
      <td>39.6</td>
    </tr>
    <tr>
      <th>201811042000</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>5</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>42.8</td>
    </tr>
    <tr>
      <th>201811042100</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>6</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>39.6</td>
    </tr>
    <tr>
      <th>201811042200</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>8</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>33.2</td>
    </tr>
    <tr>
      <th>201811042300</th>
      <td>37.0</td>
      <td>36.0</td>
      <td>10</td>
      <td>96.0</td>
      <td>34.9</td>
      <td>26.8</td>
    </tr>
  </tbody>
</table>
==============================================================================================
Number of hours with Heat Index > 20F = 24 
for date range: Nov 04, 2018 to Nov 05, 2018
