<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href={{ static_url("css/sb-admin-2.min.css") }}>
  <link rel="stylesheet" href={{ static_url("css/bootstrap.min.css") }}>
  <link rel="stylesheet" href={{ static_url("css/font-awesome.min.css") }}>
</head>
<body>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src={{ static_url("js/bootstrap.min.js") }}></script>


  <div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showTemp()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-sun-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('max_temp')[-1]) }}</div>
                        <div>Temperature (F)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showDP()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tint fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('dew_pt')[-1]) }}</div>
                        <div>Dew Point</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showH()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-soundcloud fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('out_hum')[-1]) }}</div>
                        <div>Humidity</div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showWind()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-flag fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('max_wind_speed')[-1]) }}</div>
                        <div>Max Wind Speed ({{ data.get('max_wind_dir')[-1] }})</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showHI()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-fire fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('heat_index')[-1]) }}</div>
                        <div>Heat Index</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showWC()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-qq fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('wind_chill')[-1]) }}</div>
                        <div>Wind Chill</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showP()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dashboard fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('pressure_bar')[-1]) }}</div>
                        <div>Pressure</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary" onclick="showRain()">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-umbrella fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ int(data.get('rain_rate')[-1]) }}</div>
                        <div>Rain</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div>Last Updated: {{data.get('date_time')[-1].strftime("%d %b, %I:%M %p")}}</div>
  <div id="Temperature" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="HeatIndex" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div id="WindChill" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div id="DewPoint" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div id="Humidity" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div id="Pressure" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div id="Rain" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div class="col-lg-8 col-md-6" id="Wind" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>
  <div class="col-lg-4 col-md-6" id="WindDir" style="min-width: 310px; height: 400px; display: none; margin: 0 auto"></div>



</body>
<script type="text/javascript">
function hideAll() {
  document.getElementById("Temperature").style.display = "none";
  document.getElementById("HeatIndex").style.display = "none";
  document.getElementById("WindChill").style.display = "none";
  document.getElementById("DewPoint").style.display = "none";
  document.getElementById("Pressure").style.display = "none";
  document.getElementById("Humidity").style.display = "none";
  document.getElementById("Rain").style.display = "none";
  document.getElementById("Wind").style.display = "none";
  document.getElementById("WindDir").style.display = "none";
}
function showWind() {
  var x = document.getElementById("Wind");
  var y =document.getElementById("WindDir")
  hideAll();
  x.style.display = "block";
  y.style.display = "block";
}
function showRain() {
  var x = document.getElementById("Rain");
  hideAll();
  x.style.display = "block";
}
function showTemp() {
  var x = document.getElementById("Temperature");
  hideAll();
  x.style.display = "block";
}
function showHI() {
  var x = document.getElementById("HeatIndex");
  hideAll();
  x.style.display = "block";
}
function showWC() {
  var x = document.getElementById("WindChill");
  hideAll();
  x.style.display = "block";
}
function showDP() {temp.get('max_wind_dir')
  var x = document.getElementById("DewPoint");
  hideAll();
  x.style.display = "block";
}
function showP() {
  var x = document.getElementById("Pressure");
  hideAll();
  x.style.display = "block";
}
function showH() {
  var x = document.getElementById("Humidity");
  hideAll();
  x.style.display = "block";
}
$(function () {
    var tf={{timeFrame}}
    var ts = Math.floor(new Date().getTime() / 1000);
    var tsYesterday = ts - ((tf+5 )* 3600 + 1800);
    tsYesterday-=(tsYesterday%1800)

    var windDirChart = new Highcharts.Chart({
      chart: {
        renderTo: "WindDir",
        type:'column'
      },
      xAxis: {
          categories: ["N", "NNE", "NE", "ENE", "E", "ESE", "SE", "SSE", "S", "SSW", "SW", "WSW", "W", "WNW", "NW", "NWN"],
          crosshair: true
      },
      title: {
          text: 'Wind Direction Totals'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Wind Direction Totals',
          data: {{dirData}}
        }]
    });

    var pChart = new Highcharts.Chart({
      chart: {
        renderTo: "Pressure"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'Pressure Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Pressure (bar)',
          data: {{temp.get('pressure_bar')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });

    var hChart = new Highcharts.Chart({
      chart: {
        renderTo: "Humidity"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'Humidity Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Humidity',
          data: {{temp.get('out_hum')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });

    var hIChart = new Highcharts.Chart({
      chart: {
        renderTo: "HeatIndex"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'Heat Index Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Heat Index',
          data: {{temp.get('heat_index')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });

    var windChart = new Highcharts.Chart({
      chart: {
        renderTo: "Wind"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'Wind Speed Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Wind Speed',
          data: {{temp.get('max_wind_speed')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });

    var wCChart = new Highcharts.Chart({
      chart: {
        renderTo: "WindChill"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'WindChill Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Wind Chill',
          data: {{temp.get('wind_chill')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });

    var dPChart = new Highcharts.Chart({
      chart: {
        renderTo: "DewPoint"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'Dew Point Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Dew Point',
          data: {{temp.get('dew_pt')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });

    var tmpChart = new Highcharts.Chart({
        chart: {
            renderTo: 'Temperature'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              day: '%b %e',
              minute:  '%I:%M',
              hour: '%I:%M'
            }
        },
        title: {
            text: 'Temperature Details'
        },
        subtitle: {
            text: 'Source: LSU Weather'
        },
        legend: {
            align: 'left',
            verticalAlign: 'top',
            borderWidth: 0
        },
        series: [{
            name:'Temperature',
            data: {{temp.get('temp_out')}},
            pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
            pointInterval: 3600 * 1000 / 2 // 30 mins
        }]
    });

    var rChart = new Highcharts.Chart({
      chart: {
        renderTo: "Rain"
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%b %e',
            minute:  '%I:%M',
            hour: '%I:%M'
          }
      },
      title: {
          text: 'Rain Details'
      },
      subtitle: {
          text: 'Source: LSU Weather'
      },
      legend: {
          align: 'left',
          verticalAlign: 'top',
          borderWidth: 0
      },
      series: [{
          name:'Rain (inches)',
          data: {{temp.get('rain_rate')}},
          pointStart: tsYesterday * 1000, // highcharts asks for miliseconds
          pointInterval: 3600 * 1000 / 2 // 30 mins
      }]
    });
});
</script>
</html>
