monthData
<!-- {% if not monthData.empty %}
  <table style="width:100%">
    <tr>
      <th>Date</th>
      <th>maxt</th>
      <th>mint</th>
      <th>pcpn</th>
    </tr>
    {% for date in monthData %}
      <tr>
        <td>{{ date }}</td>
        <td>{{ date.maxt }}</td>
        <td>{{ date.mint }}</td>
        <td>{{ date.pcpn }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No data is available.</p>
  {% endif %} -->
