{% load staticfiles %}

<!DOCTYPE html>
<html>


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">
<body>

  <h1>Select the year to summarize:</h1>
  <form action="table" method="post">
    <div id="root"></div>
    {% csrf_token %}
    <select name="date">
      {% for year in years %}
        <option value="{{year}}">{{year}}</option>
      {% endfor %}
    </select>
    <input type="submit">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>
