{% if not df2.empty %}
  <ul>
    {% for date in df2.index %}
      <li><a href="/weather/{{date}}/">{{ date }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No data is available.</p>
  {% endif %}
